{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block meta_extra %}
  <meta name="robots" content="NONE,NOARCHIVE">
{% endblock meta_extra %}

{% block script_extra %}
  <script src="{% static 'app/js/index.js' %}"></script>
{% endblock script_extra %}

{% block content %}
<div class="row col-sm-6 offset-sm-3 mb-3 justify-content-end"  aria-label="{% trans "request form" %}">
  {% if 'GET' in allowed_methods %}
    <div class="col-auto">
      <form class="form-inline" id="get-form">
        <fieldset>
          <legend class="sr-only">Submit a GET request.</legend>
          {% if api_settings.URL_FORMAT_OVERRIDE %}
            <div class="btn-group shadow" role="group" aria-label="Button group with nested dropdown">
              <a class="btn btn-primary" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

              <div class="btn-group" role="group">
                <button id="get-group"class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Specify a format for the GET request"><span class="sr-only">Toggle Dropdown</span></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="get-group">
                  {% for format in available_formats %}
                    <a class="dropdown-item" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% else %}
            <a class="btn btn-primary shadow" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>
          {% endif %}
        </fieldset>
      </form>
    </div>
  {% endif %}

  {% if options_form %}
    <div class="col-auto">
      <form class="form-inline" action="{{ request.get_full_path }}" data-method="OPTIONS">
        <button class="btn btn-primary shadow" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
      </form>
    </div>
  {% endif %}

  {% if delete_form %}
    <div class="col-auto">
      <button class="btn btn-danger shadow" title="Make a DELETE request on the {{ name }} resource" data-toggle="modal" data-target="#deleteModal">DELETE</button>

      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4 class="text-center">Are you sure you want to delete this {{ name }}?</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <form class="form-inline" action="{{ request.get_full_path }}" data-method="DELETE">
                <button type="button" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if extra_actions %}
    <div class="col-auto">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle shadow" id="extra-actions-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Extra Actions" %}</button>
        <div class="dropdown-menu" aria-labelledby="extra-actions-menu">
          {% for action_name, url in extra_actions|items %}
            <a class="dropdown-item" href="{{ url }}">{{ action_name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if filter_form %}
    <button data-toggle="modal" data-target="#filtersModal" class="btn btn-default shadow">{% trans "Filters" %}</button>
  {% endif %}
</div>

<div class="row" role="main"  aria-label="{% trans "main content" %}">
  <div class="col-sm-6 offset-sm-3">
    <div class="card mb-3 border-secondary shadow-lg">
      <div class="card-header bg-primary text-white h1"><h1>{{ name }}</h1></div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb border-bottom border-top border-secondary rounded-0 mb-0 py-1">
          {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
          {% if forloop.last %}
          <li class="breadcrumb-item active">{{ breadcrumb_name }}</li>
          {% else %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
          {% endif %}
          {% empty %}
          {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
          {% endfor %}
        </ol>
      </nav>
      <div class="card-body">
        {% if paginator %}
          <nav>
            {% get_pagination_html paginator %}
          </nav>
        {% endif %}

        <div aria-label="{% trans "request info" %}">
          <pre class="prettyprint"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
        </div>

        <div aria-label="{% trans "response info" %}">
        <pre class="prettyprint"><span class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}{% for key, val in response_headers|items %}
  <b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>{% endfor %}

  </span>{{ content|urlize_quoted_links }}</pre>{% endautoescape %}
        </div>
      </div>
    </div>

    {% if display_edit_forms %}
      {% if post_form or raw_data_post_form %}
        {% if post_form %}
          <ul class="nav nav-pills" id="postTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link " href="#post-object-form" data-toggle="tab" role="tab" aria-controls="HTML form">HTML form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#post-generic-content-form" data-toggle="tab" role="tab" aria-controls="Raw data">Raw data</a>
            </li>
          </ul>
          <div class="tab-content mb-3" id="postTabsContent">
            <div class="tab-pane fade" id="post-object-form" role="tabpanel" aria-labelledby="HTML form">
              {% with form=post_form %}
                <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                  <fieldset>
                    {% csrf_token %}
                    {{ post_form }}
                    <div class="form-actions">
                      <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
                    </div>
                  </fieldset>
                </form>
              {% endwith %}
            </div>
            <div class="tab-pane fade" id="post-generic-content-form" role="tabpanel" aria-labelledby="Raw data">
              {% with form=raw_data_post_form %}
                <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                  <fieldset>
                    {% include "rest_framework/raw_data_form.html" %}
                    <div class="form-actions">
                      <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
                    </div>
                  </fieldset>
                </form>
              {% endwith %}
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if put_form or raw_data_put_form or raw_data_patch_form %}
        {% if put_form %}
          <ul class="nav nav-pills" id="putTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" href="#put-object-form" data-toggle="tab" role="tab" aria-controls="HTML form">HTML form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#put-generic-content-form" data-toggle="tab" role="tab" aria-controls="Raw data">Raw data</a>
            </li>
          </ul>
          <div class="tab-content mb-3" id="putTabsContent">
            <div class="tab-pane fade" id="put-object-form" role="tabpanel" aria-labelledby="HTML form">
              <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                <fieldset>
                  {{ put_form }}
                  <div class="form-actions">
                    <button class="btn btn-primary" title="Make a PUT request on the {{ name }} resource">PUT</button>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="tab-pane fade" id="put-generic-content-form" role="tabpanel" aria-labelledby="Raw data">
              {% with form=raw_data_put_or_patch_form %}
                <form action="{{ request.get_full_path }}" data-method="PUT" class="form-horizontal">
                  <fieldset>
                    {% include "rest_framework/raw_data_form.html" %}
                    <div class="form-actions">
                      {% if raw_data_put_form %}
                        <button class="btn btn-primary" title="Make a PUT request on the {{ name }} resource">PUT</button>
                      {% endif %}
                      {% if raw_data_patch_form %}
                      <button data-method="PATCH" class="btn btn-primary" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
                      {% endif %}
                    </div>
                  </fieldset>
                </form>
              {% endwith %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>

{% if filter_form %}
  {{ filter_form }}
{% endif %}

{% endblock content %}
