@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

// Bootstrap overrides

$enable-shadows: true;
$enable-responsive-font-sizes: true;

$white: #e9e8ea;
$gray-100: #d4d3d5;
$gray-600: #393049;
$gray-800: #231935;
$black: #0d0221;

$chopsteeqpurple: #512d99;
$fandango: #a5248e;
$amaranth: #a5245a;
$blurple: #7289DA;


$colors: (
  "chopsteeqpurple": $chopsteeqpurple,
  "fandango": $fandango,
  "amaranth": $amaranth,
  "blurple": $blurple
);

$theme-colors: (
  "primary": $chopsteeqpurple,
  "secondary": $fandango,
  "danger": $amaranth,
  "info": $chopsteeqpurple,
  "light": $gray-100,
  "dark": $gray-800,
  "blurple": $blurple
);

$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Oswald', sans-serif;

$input-color: $black;
$input-border-color: $fandango;

$border-width: 3px;

@import "~bootstrap/scss/bootstrap";
@import "_custom";
