{% load i18n %}
{% load static %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta_extra %}{% endblock %}
    <title>{% block head_title %}Talented Discord{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'app/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    {% block css_extra %}{% endblock %}
  </head>

  <body class="d-flex flex-column h-100">

    {% if messages %}
    <div>
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3 border-bottom border-secondary shadow">
      <a href="/" class="navbar-brand"><img class="mr-2" src="{% static 'app/img/logo-td-dark.png' %}" width="50" height="50" alt="Talented Discord logo"/><span class="h3 align-middle">Talented Discord</span></a>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://cdn.discordapp.com/avatars/{{ user.socialaccount_set.all.0.extra_data.id }}/{{ user.socialaccount_set.all.0.extra_data.avatar }}.png?size=32" class="rounded" alt="{{ user.socialaccount_set.all.0.extra_data.username }}#{{ user.socialaccount_set.all.0.extra_data.discriminator }} avatar">
            {{ user.socialaccount_set.all.0.extra_data.username }}#{{ user.socialaccount_set.all.0.extra_data.discriminator }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/api">API</a>
            <form class="form-inline" method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button type="submit" class="dropdown-item text-danger">{% trans 'Log out' %}</button>
            </form>
          </div>
        </li>
        {% else %}
        <li class="nav-item"><a class="btn btn-blurple" href="{% provider_login_url "discord" %}">Log in with <img height="30" src="{% static 'app/img/logo-discord.png' %}"></img></a></li>
        {% endif %}
      </ul>
    </nav>

    <main class="container-fluid h-100">
      {% block content %}{% endblock %}
    </main>

    <nav class="nav justify-content-center bg-primary mt-auto border-top border-dark">
      <a class="nav-item nav-link text-light" target="_blank" href="https://gitlab.com/tedtramonte/TalentedDiscord/issues">Help</a>
      <a class="nav-item nav-link text-light" target="_blank" href="https://gitlab.com/tedtramonte/TalentedDiscord" target="_blank">Source</a>
      <a class="nav-item nav-link text-light" target="_blank" href="https://www.tedtramonte.com">Created by Ted Tramonte</a>
    </nav>

    {% block script_extra %}{% endblock %}

  </body>
</html>
