{% extends "app/base.html" %}
{% load account socialaccount %}
{% load static %}

{% block script_extra %}
<script>window.props = {{ props|safe }};</script>
<script src="{% static 'app/js/index.js' %}"></script>
<script src="{% static 'app/js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row my-3">
  <div class="col-md-8 offset-md-2">
    <div class="card text-white border-secondary shadow-lg">
      <div class="card-header h1 bg-primary">Dashboard</div>
      <div id="dashboard_container"></div>
    </div>
  </div>
</div>
{% endblock %}
