{% extends "app/base.html" %}
{% load account socialaccount %}
{% load static %}

{% block script_extra %}
<script src="{% static 'app/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row d-flex align-items-center mt-n3 h-100">
  <div class="col-md-4 col-lg-3 offset-lg-1 order-md-1 order-12">
    <div class="card border-secondary">
      <div class="card-header bg-primary text-white">
        <span class="h3">Talented Discord</span>
      </div>
      <div class="card-body">
        <div class="card-title h5">A Discord bot for Heroes of the Storm.</div>
        <p class="card-text">Here are some of its features:</p>
      </div>
      <div id="features" class="list-group list-group-flush" role="tablist">
        <a class="list-group-item list-group-item-action border-secondary active" id="talents-feature-list" data-toggle="list" role="tab" href="#talents-feature" aria-controls="grab talent builds">Grab talent builds</a>
        <a class="list-group-item list-group-item-action border-secondary" id="groups-feature-list" data-toggle="list" role="tab" href="#groups-feature" aria-controls="organize groups">Organize groups</a>
        <a class="list-group-item list-group-item-action border-secondary" id="patchnotes-feature-list" data-toggle="list" role="tab" href="#patchnotes-feature" aria-controls="link patchnotes">Link patchnotes</a>
      </div>
      <div class="card-body">
        <a class="btn btn-blurple w-100" href="{% provider_login_url "discord" %}">Log in with <img height="30" src="{% static 'app/img/logo-discord.png' %}"></img></a>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-7 d-none d-sm-block order-1 order-md-12">
    <div class="tab-content border border-primary rounded">
      <div class="tab-pane fade show active" id="talents-feature" role="tabpanel" aria-labelledby="talents-feature-list">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" poster="{% static 'app/img/talents.jpg' %}" controls playsinline autoplay muted loop>
            <source src="{% static 'app/mov/talents.webm' %}" type="video/webm" />
            <source src="{% static 'app/mov/talents.mp4' %}" type="video/mp4" />
            Dude, upgrade your browser.
          </video>
        </div>
      </div>
      <div class="tab-pane fade" id="groups-feature" role="tabpanel" aria-labelledby="groups-feature-list">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" poster="{% static 'app/img/groups.jpg' %}" controls playsinline autoplay muted loop>
            <source src="{% static 'app/mov/groups.webm' %}" type="video/webm" />
            <source src="{% static 'app/mov/groups.mp4' %}" type="video/mp4" />
            Dude, upgrade your browser.
          </video>
        </div>
      </div>
      <div class="tab-pane fade" id="patchnotes-feature" role="tabpanel" aria-labelledby="patchnotes-feature-list">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" poster="{% static 'app/img/patchnotes.jpg' %}" controls playsinline autoplay muted loop>
            <source src="{% static 'app/mov/patchnotes.webm' %}" type="video/webm" />
            <source src="{% static 'app/mov/patchnotes.mp4' %}" type="video/mp4" />
            Dude, upgrade your browser.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
